<div id="footer">
  <div class="container">
   <div class="wrapper">
      <div class="row">
        <div class="col-xs-4">
          <ul class="list-inline">
            <li><%= link_to "", "http://www.youtube.fr", class: "icon fa fa-youtube" %></li>
            <li><%= link_to "", "http://www.instagram.fr", class: "icon fa fa-instagram" %></li>
            <li><%= link_to "", "http://www.facebook.fr", class: "icon fa fa-facebook" %></li>
            <li><%= link_to "", "http://www.twitter.fr", class: "icon fa fa-twitter" %></li>
          </ul>
        </div>
        <div class="col-xs-8 text-right">
          <p>Design by Alex, Vincent & Cyril</p>
        </div>
      </div>
    </div>
  </div>
</div>
