<div class="container">
    <div class="text-center">

        <h1>The N°1 Job Marketplace</h1>
        <%= link_to t(".top_call_to_action", default: "View all jobs"), jobs_path, class: "  btn btn-primary btn-xl" %>

    </div>
</div>
