.wrapper-grey {
  background: #f1f1f1;
  padding-top: 20px;
  padding-bottom: 10px;
}

.container h2 {
  text-align:center;
}

.cards {
  text-align: center;
  padding: 100px;
}

.cards img {
  width: 100px;
}

.cards h2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.cards p {
  font-size: 15px;
  font-weight: normal;
  color: #3d3d3d;
}
