#footer {
  height: 100px;
  background-color: #1b2a33;
  background-size: cover;
  display: flex;
  align-items: center;
}



.icon {
    color: white;
    font-size: 30px;
}

.icon:hover {
  color: white;
  opacity: 0.9;
  text-decoration: none;
}

p {
  color: white;
  font-size: 15px;
  font-style: italic;
}
