#footer {
  height: 80px;
  background-color: #1b2a33;
  background-size: cover;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0
}

.icon {
    color: white;
    font-size: 25px;
}

.icon:hover {
  color: white;
  opacity: 0.8;
  text-decoration: none;
}

#footer p {
  color: white;
  font-size: 15px;
  font-family: raleway;
}
