

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}

#footer {
  height: 100px;
  background-color: #1b2a33;
  width: 100%;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

#footer p {
  color: white;
  font-size: 15px;
  font-family: raleway;
}

.icon {
    color: white;
    font-size: 25px;
}

.icon:hover {
  color: white;
  opacity: 0.8;
  text-decoration: none;
}
