.jobs-panel {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: solid 1px #e5e5e5;
  border-radius: 10px;
  background-color: #f9f9f9;
  color: #6e7070;
  .company-infos, .job-infos, .apply-infos{
    margin: 5px;
    text-align: center;
    height: 100%;
    width: 33%;
  }

  .company-infos{
    border-left: 1px solid #a19b98;
    border-right: 1px solid #a19b98;
    padding-left: 10px;
    padding-right: 10px;

  }

  .jobs-panel-item ul {
    list-style: none;
  }

  .jobs-panel p {
    font-style: Spen Sans;
    color: black;
    font-size: 16px;
    margin: 0;
    margin-top: 5px;
  }

  .jobs-panel h4, h5 {
    margin-top: 5px;
  }

  .apply-button {
    margin-top: 10px;
  }
}
