.jobs-panel {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: solid 1px #e5e5e5;
  border-radius: 10px;
  background-color: #f9f9f9;
  color: #6e7070;
  .company-infos, .job-infos, .apply-infos{
    text-align: center;
    height: 100%;
    width: 33%;
    padding: 8px;
  }

  .company-infos{
    border-left: 1px solid #a19b98;
    border-right: 1px solid #a19b98;
    padding-left: 10px;
    padding-right: 10px;
  }

  .jobs-panel-item ul {
    list-style: none;
  }

  .jobs-panel p {
    font-style: Spen Sans;
    color: black;
    font-size: 16px;
  }

  .jobs-panel h4, h5 {
    margin-top: 5px;
  }
}


// .accepted{
//   color: #4a9943;
//   text-decoration: none;
//   font-weight: bolder;
//   text-transform: capitalize;
//   font-size: 20px;
//   :hover {
//     opacity: 0.7;
//   }
//
// }
//
// .refused{
//   color: rgb(213, 29, 29);
//   text-decoration: none;
//   font-weight: bolder;
//   text-transform: capitalize;
//   font-size: 20px;
//
// }
